<h3>Welcome to the app!</h3>

Hello {{ user.fullName }}! You've registered into this fucking app!<br><br>

Please confirm account by clicking this <a href="{{ url('security_confirm', {'token': user.confirmationToken}) }}">link</a>

To login, go to the <a href="{{ url('security_login') }}">hell</a><br><br>

Thanks buddy!